<!doctype html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<title>Sklep Alx</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cyborg/bootstrap.min.css" rel="stylesheet" integrity="sha384-D9XILkoivXN+bcvB2kSOowkIvIcBbNdoDQvfBNsxYAIieZbx8/SI4NeUvrRGCpDi" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
	
	<div class="container">
		<dvi class="row">
			<div class="col-xs-12"><h1>Alx Sklep</h1></div>
		</dvi>
		<div class="row">
			<div class="col-xs-12">
				<nav class="navbar navbar-default">
					<ul class="nav navbar-nav">
						<li><a href="#">Kategoria</a></li>
						<li></li>
						<li></li>
					</ul>
				</nav>
			</div>
		</div>
		{% block body %}
		
		{% endblock %}
	</div>
	
</body>
</html>